<!DOCTYPE html>
<html lang="en">
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <!--      ACTUAL CONTENT      -->
  <%= yield %>
  <!--   END OF ACTUAL CONTENT  -->
  <%= render 'layouts/footer' %>
</body>
<script type="text/javascript">
	(function($){
	  $(function(){

	    $('.button-collapse').sideNav();
	    $('.parallax').parallax();

	  }); // end of document ready
	})(jQuery);
</script>
</html>
